# Dataset files (Too large for GitHub)
Dataset/
Dataset_Parquet/

# OS files
.DS_Store
*.pdf
*.docx

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
logs/
*.log
