# Paths
DATASET_DIR=../Dataset
DATA_LAKE_BASE=./data_lake
RAW_BASE=./data_lake/raw
SILVER_BASE=./data_lake/silver
DATAMART_BASE=./data_lake/datamart

# Processing date (YYYY-MM-DD)
INGESTION_DATE=2026-03-18

# API
API_SECRET_KEY=change_this_secret
API_USERNAME=admin
API_PASSWORD=admin123
API_TOKEN_EXPIRE_MINUTES=120

# Spark
SPARK_SQL_SHUFFLE_PARTITIONS=200
